/.claude export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/CLAUDE.md export-ignore
/docs export-ignore
/infection.json5 export-ignore
/phpstan.dist.neon export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
/rector.php export-ignore
/tests export-ignore
/.devtools export-ignore
